@tailwind base;
@tailwind components;
@tailwind utilities;

/* Root Variables */

/* Global Styles */
* {
    scrollbar-width: 10px;
    font-family: 'Lato', sans-serif;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-thumb {
    background: #83C5BE;
    border-radius: 5px;
    cursor: pointer;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Carousel Section Styles */
.carousel-section {
    overflow: hidden;
}

.css-carousel {
    display: flex;
    align-items: stretch;
    gap: var(--gap);
    -webkit-overflow-scrolling: touch;
    animation: scroll var(--duration) linear infinite;
    animation-play-state: running;
    width: auto;
}

.css-carousel:hover {
    animation-play-state: paused;
}

/* Hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
  }

  
  /* Custom scroll-snap classes for Tailwind */
.scroll-snap-x {
    scroll-snap-type: x mandatory;
  }
  
  .scroll-snap-align-start {
    scroll-snap-align: start;
  }
  
  .scroll-snap-align-center {
    scroll-snap-align: center;
  }
  
  .scroll-snap-align-end {
    scroll-snap-align: end;
  }
  

/* Keyframes for Scrolling Animation */
@keyframes scroll {
    0%, 100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(var(--carousel-edge-pos));
    }
}

/* Media Queries */
@media (min-width: 768px) {
    :root {
        --slide-width: 300px;
    }
}
