@tailwind base;
@tailwind components;
@tailwind utilities;



* {
    scrollbar-width: 10px;
   
}

*::-webkit-scrollbar {
    width: 10px;

}

*::-webkit-scrollbar-thumb {
    background: #83C5BE;
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (min-width: 600px) {
    .main {
        grid-column: 2;
    }
}


/* Add this to your Tailwind CSS config or a global CSS file */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

